<div class="row" id="profile">
  <div class="col-md-offset-1 col-md-3">
    <img src="{{profileCtrl.imageLink}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
  </div>
  <div class="col-md-6" id="profilerows">
      <div class="row ">
        <label class="col-md-3">Repository</label>  <span class="col-md-6">{{profileCtrl.repo}}</span>
      </div>
      <div class="row">
        <label class="col-md-3">Author</label>  <span class="col-md-6">{{profileCtrl.author}}</span>
      </div>
      <div class="row">
        <label class="col-md-3">
          GitHub Links
        </label>
        <p class="col-md-3">
          <a href="{{profileCtrl.gitHub}}"><span class="glyphicon glyphicon-user">Profile</span></a>
        </p>
        <p class="col-md-3">
          <a href="{{profileCtrl.repoLink}}"><span class="glyphicon glyphicon-map-marker"></span>Repository</a>
        </p>
      </div>
      <div class="row">
        <label class="col-md-3">Language</label>  <span class="col-md-6">{{profileCtrl.lang}}</span>
      </div>
      <div class="row">
        <label class="col-md-3">Description</label>  <span class="col-md-6">{{profileCtrl.desc}}</span>
      </div>
      <div class="row">
        <label class="col-md-3">Stars</label>  <span class="col-md-6">{{profileCtrl.stars}}</span>
      </div>
      <div class="row">
        <label class="col-md-3">Score</label>  <span class="col-md-6">{{profileCtrl.score}}</span>
      </div>
  </div>

</div>
