<div class="row" id="search">
  <div class="col-md-offset-2 col-md-8">

  <div class="row">
  <div class="col-md-12 input-group " ng-repeat = "rows in searchCtrl.gitArray" ng-click="searchCtrl.goToGitHub(rows)">
    <div class="row well searchdata">
    <span class="col-md-1 vertical center">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </span>
    <div class="col-md-11 datarows ">
      <div class="col-md-3">
        <p class="col-md-12 datarows">
          <strong>Name:{{ rows.name }}</strong>
        </p>
        <p class="col-md-12 datarows">
          <strong>Language : {{ rows.language }}</strong>
        </p>
      </div>
      <div class="col-md-9">
        <p>
          {{ rows.description}}
        </p>
      </div>
    </div>
    </div>
    <hr id="hr" class="row">
  </div>
  <div class="col-md-12" id="pagination">
    <button type="button" class="btn btn-success" ng-click="searchCtrl.pageFirst()"><span class="glyphicon glyphicon-flag"></span></button>
    <button type="button" class="btn btn-success" ng-click="searchCtrl.pagePrev()"><span class="glyphicon glyphicon-chevron-left"></span></button>
    <button type="button" class="btn btn-success" ng-click="searchCtrl.pageNext()"><span class="glyphicon glyphicon-chevron-right"></span></button>
    <!-- <button type="button" class="btn btn-success" ng-click="searchCtrl.pageLast()">last</button> -->
  </div>
  </div>
  </div>
</div>
