<!DOCTYPE html>
<html>
<head>
	<title>TopGit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./libs/boots/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./styles/index.css">
  <script src="./libs/jquery-3.1.0.js"></script>
  <script src="./libs/boots/js/bootstrap.js"></script>
  <script src="./libs/angular/angular.js"></script>
  <script src="./libs/angular/angular-ui-router.js"></script>
  <script src="./app.js"></script>
	<script src="./services/pagination.service.js"></script>
	<script src="./services/http.service.js"></script>
	<script src="./services/profiledetails.js"></script>
	<script src="./controllers/home.controller.js"></script>
	<script src="./controllers/body.controller.js"></script>
	<script src="./controllers/search.controller.js"></script>
	<script src="./controllers/profile.controller.js"></script>

</head>
<body ng-app="topgit" ng-controller = "mainCtrl as mctrl" class="container-fluid">
	<header class="navbar container-fluid navbar-default navbar-fixed-top" id="header">
    <div class="col-md-1 headertext">
      <a ui-sref="home"><h3 class="headertext col-md-12"> <strong>TopGit</strong></h3></a>
    </div>
		<div class="col-md-6" id="searchinput">
			<form class="input-group col-md-12" ng-submit="mctrl.searchData()">
		    <input type="text" class="form-control" placeholder="search repository" aria-describedby="sizing-addon1" ng-model="mctrl.searchtext">
				 <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
			</form>
		</div>
    <div class="col-md-4" id="headermessage">
      We've found <strong>{{mctrl.totalRepo}}</strong> respositories...
    </div>
  </header>

  <div class="container-fluid" id="mainblock" ui-view>

	</div>

</body>
</html>
