body{
  /*background: #9fe0c0;*/
  background: #CC99FF;
}
h3{
  color: #720e94;
  transition: color .2s;
  cursor: pointer;
}
#homepage{
  text-align: center;
}
h3:hover{
  color: #13001a;
}
.row{
  margin: 0;
  padding: 0;
}
.navbar-default{
  border-color: #39ac73;
}
#header{
  padding-top: .5%;
  padding-bottom: .5%;
  background: #39ac73;
  box-shadow: 0px 1px 8px #5e0080;
  /*font-weight: bold;*/
  /*#e5ffff;*/
}
#sizing-addon1{
  background: #66ff66;
    border-color:#66ff66;
}
.form-control{
  /*border-color:#39ac73;*/
  border-width: 0px;
}
.headertext{
  padding: 4px 0px;
  margin: 0px;
  text-align: right;
}
#searchinput{
  margin-top: 5px;
}

#headermessage{
  background-color: #3ec180;
  padding: 7px 0px;
  padding-left: 15px;
  margin-top: 5px;
  border-radius: 3px;
}
.container-fluid{
  padding: 0px;
}
#mainblock{
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left:1%;
  padding-right: 5%;
}
#search{
  /*border-right: 2px solid #000000;*/
  vertical-align: middle;
  height: 100%;
  padding-top: 1%;
}
#pagination{
  text-align: center;
}
#filter{
  margin-top: 1%;
  padding: 0%;
  padding-bottom:2%;
  border: 1px solid  #3ec180;

}
#filter p{
  padding: 1% 0%;
  background:   #3ec180;
  text-align: center;
}
#seekbar{
  margin-top: 10%;
  padding: 0%;
  text-align: center;
}
#seekbar input{
  margin-top: 3%;
}
.datarows{
  padding: 0;
}
.well{
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 0px;
  background:#bf80ff;
  border-color: #b366ff;
  transition: background 1s;
}
#hr{
  margin: 4px 0px;
  border-color: #b366ff;
}
.well:hover{
  background:#b366ff;
}
.searchdata{
  cursor: pointer;
}
.glyphicon-hand-right{
  font-size: 22px;
}
#profile{
  padding-top: 2%;
}
#profilerows > p{
  border: 1px solid #39ac73;
  margin: 0px;
  padding: 0px;
  margin-top: 2px;
}
#profilerows div{
  margin: 0px;
  padding: 0px;
  margin-top: 2px;
  border: 1px solid #39ac73;
}
#profilerows div label{
  margin: 0px;
}
#profilerows label{
  background-color: #39ac73;
  text-align: right;
  padding: 1% 1%;

input[type=range]{
    -webkit-appearance: none;
    padding: 0;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    background: #e6ffe6;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #008040;
    margin-top: -5px;
}
input[type=range]:focus {
    outline: none;
}
